<h2>Please change the below form to edit your choice</h2>

<form method="post" action="/pizzas/<%= @pizza.id %>">
  <label for="first-name-field">First Name:</label>
    <input id="first-name" type="text" name="first_name" value="<%= @pizza.first_name %>"
    />
  

  <label for="last-name-field">Last Name:</label>
    <input id="last-name-field" type="text" name="last_name" value="<%= @pizza.last_name %>"/>


  <label for="pizza-selects">Select a pizza:</label>
    <select id="pizza-selects" name="topping">
      <option value="Margherita">Margherita</option>
      <option value="Calzone">Calzone</option>
    </select>
    <label for="pizza-selection">Select a pizza:</label>
  

  <label for="quantity-field">Quantity:</label>
    <input id="quantity-field" type="number" name="quantity" value="<%= @pizza.quantity %>"/>


  <input type='submit' value="Update">
</form>

 